<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpdateData.Properties.MailList" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--30000毫秒(30秒)-->
    <add key="LoopTime" value="30000" />
    <!--SFTP File Path-->
    <add key="SftpLogPath" value="C:\Program Files (x86)" />
    <add key="SftpLogFile" value="freeFTPdfreesshd.log" />
    <!--File Path-->
    <add key="FileUploadPath" value="" />
    <add key="FileDownloadPath" value="" />
    <add key="FileBackupPath" value="" />
    <add key="FileTransferPath" value="" />
    <!--Login Info-->
    <add key="MachineName" value="" />
    <add key="UserName" value="" />
    <add key="Pw" value="" />
    <!--Smtp-->
    <add key="SmtpPort" value="25" />
    <add key="SmtpHost" value="" />
    <add key="SmtpFrom" value="" />
    <!--SQL Connection-->
    <add key="DBConnStrName" value="" />
    <add key="DbServer_Prd" value="" />
    <add key="DbName_Prd" value="" />
    <add key="DbUser" value="" />
    <add key="DbPxd" value="" />
    <add key="GeocodingKey" value="" />
    <add key="CreateDate" value="15"/>
    <!--檔案保留時間 單位：天-->
    <add key="ExpiredDate" value="30"/>
  </appSettings>
  <userSettings>
    <UpdateData.Properties.MailList>
      <setting name="User" serializeAs="String">
        <value>User@mail.com</value>
      </setting>
    </UpdateData.Properties.MailList>
  </userSettings>
</configuration>